@model WebApplication.Models.Models.cms_News
@using WebApplication.Libraries.Extensions
@{
    ViewBag.Title = "Details";
}

@section styles{
    <style>
        .cms-news-title  {
            font-size:14px;
            color:rgb(101,33,80);
        }

        .cms-news-info {
            font-size:12px;
            color: #808080;
            font-style:italic;
        }
        .cms-news-info .views{
            font-weight:bold;
        }

        .cms-news-sub-title{
            font-size:13px;
            font-weight:bold;
            color:#666666;
            margin-top:10px;
        }
        .cms-news-author{
            font-weight:bold;
            color:black;
            font-size:14px;
            text-align:right;
        }
    </style>
}

<div class="row">
    <div class="cms-news-title">
        <h3>@Html.DisplayFor(model => model.Title)</h3>
    </div>
    
    <div class="cms-news-info">
        <span>Thêm bởi: <b>@Html.DisplayFor(model => model.Authors)</b> - Thêm ngày: @Model.CreatedDate.ToString("dd/MM/yyyy HH:mm tt") - <b>@(Model.TotalView ?? 0)</b> Lượt xem</span>
    </div>

    <div class="cms-news-sub-title">
        <span>@Html.DisplayFor(model => model.SubTitle)</span>
    </div>
    
    <div class="cms-news-content">
        @Html.Raw(Model.ContentNews)
    </div>

    <div class="cms-news-author">
        <span>@Html.DisplayFor(model => model.Authors)</span>
    </div>
</div>
