@using WebApplication.Common.Constants
@using WebApplication.Libraries.Extensions
@using WebApplication.Libraries.CustomHtml
@using WebApplication.Models.ViewModels

@{
    ViewBag.Title = PageTitle.CmsNews.Index;
    bool isAuthenticate = false;
}

@section styles {
    <link href="@Url.Content("~/Content/Plugins/flat-flyout-menu.css")" rel="stylesheet" />
    <style>
        #cms_news_container,
        #cms_news_container div {
            padding:0;
            margin:0;
        }

        li.paging-active > a {
            background: #FE980F;
            color: white;
        }

        #breadcrumb.breadcrumb {
            background: none;
            border-bottom: 1px solid #c9c9c9;
            padding: 0;
            padding-bottom: 5px;
            border-radius: 0;
            font-size:14px;
        }

        #breadcrumb.breadcrumb a {
            color: #FE980F;
        }

        #breadcrumb.breadcrumb a:hover{
            text-decoration:underline;
        }

    </style>
}

<br />

@if (isAuthenticate)
{
    <p>@Html.ActionLink("Thêm tin tức", "CreateCmsNews", "Cms", new { categoryID = (int?)ViewBag.CategoryID })</p>
}


<div class="row">
    <div class="col-md-3">
        <div class="left-sidebar">
            <h2>TIN TỨC</h2>
            <div id="cms_categories_container" ">
                @Html.Action("GetCmsCategories")
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <ul id="breadcrumb" class="breadcrumb"></ul>
        <div id="cms_news_container" class="row"></div>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    <script>
        $(document).ready(function () {
            $('#cms_categories_container li:has(ul)').addClass('has-sub');
            $('#cms_categories_container li > a').click(function () {
                $('#breadcrumb').empty();

                $($(this).parents('li').get().reverse()).find('> a').each(function () {
                    var item = $(this).parent().clone();
                    item.find('> ul').remove();

                    $('#breadcrumb').append('<li>' + item.html() + '</li>');
                });

                $('#breadcrumb li:last').html($('#breadcrumb li:last > a').html()).find('a').remove();

                $('#breadcrumb > li > a').click(function () {
                    $(this).parent().nextAll().remove();
                    $(this).parent().html($(this).html());
                    $(this).remove();
                });
            });

            if ('@((int?)ViewBag.CategoryID)' == '') {
                $('#cms_categories_container > ul > li:first > a').focus().click();
            } else {
                $('#category_' + '@((int?)ViewBag.CategoryID)' + '> a').focus().click();
            }
        });
    </script>
}