@model WebApplication.Models.Models.cms_Categories
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string title = ViewBag.ParentID == null ? "danh mục" : string.Format("loại {0}", ((string)ViewBag.ParentTitle).ToLower());
}
<style>
    #create_title {
        margin: 20px 20px 40px 20px;
    }
</style>

<li>@Html.ActionLink("Danh sách danh mục", "CmsCategoryIndex")</li>

<div class="row">
    <h2 id="create_title">Thêm @title</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-6 col-md-offset-2">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (ViewBag.ParentID != null)
            {
                @Html.HiddenFor(model => model.ParentID, new { Value = (int)ViewBag.ParentID })
                <div class="form-group">
                    <label class="control-label col-md-3">Tên danh mục</label>
                    <div class="col-md-9">
                        @Html.TextBox("ParentTitle", (string)ViewBag.ParentTitle, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="control-label col-md-3">Tên @title</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Mô tả</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-8 text-right">
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
