@model WebApplication.Models.Models.cms_News

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    #remove_title {
        margin: 20px 20px 0 20px;
    }
</style>

<div class="row">
    <h4 id="remove_title">Xác nhận xóa bài viết</h4>

    @using (Html.BeginForm())
    {
        @Html.Hidden("CategoryID", (int?)ViewBag.CategoryID);
        @Html.AntiForgeryToken()
        <div>
            <dl class="dl-horizontal">
                <dt><span>Tên danh mục</span></dt>
                <dd>@Html.DisplayFor(model => model.Title)</dd>
                <dt><span>Mô tả</span></dt>
                <dd>@Html.DisplayFor(model => model.SubTitle)</dd>
                <dt>&nbsp;</dt>
                <dd><input type="submit" value="Xóa" class="btn btn-primary" /></dd>
            </dl>
        </div>
    }
</div>

@Html.ActionLink("Danh sách danh mục", "CmsCategoryIndex")