@model WebApplication.Models.ViewModels.PagingView<WebApplication.Models.Models.cms_News>

@using WebApplication.Common.Constants
@using WebApplication.Libraries.Extensions
@using WebApplication.Libraries.CustomHtml
@using WebApplication.Models.ViewModels

@{
    Layout = null;
}

<style>
    #cms_news_items .cms-news-item-header {
        font-size:15px;
        font-weight:bold;
    }
    #cms_news_items  a{
        color:#FE980F;
        
    }
    #cms_news_items  a:hover{
        text-decoration:underline;
    }

    #cms_news_items .cms-news-info,
    #cms_news_items .cms-news-content a {
        font-style:italic;
    }
    #cms_news_items .cms-news-content a {
        float:right;
    }

    #cms_news_items > div {
        margin:5px 0;
        padding:5px 0;
    }

    #cms_news_items {
        height:525px;
    }
    #cms_news_view .pagination{
        margin:0;
    }
</style>

<div id="cms_news_view" class="row">
    @*@using (Ajax.BeginForm("GetCmsNews", null, new AjaxOptions { UpdateTargetId = "cms_news_container" }, new { @id = "get_cms_news" }))
    {
        @Html.HiddenFor(model => model.RouteValue.OrderBy);
        @Html.Hidden("CategoryID", (int?)ViewBag.CategoryID);
        <div class="row">
            <div class="col-md-4">
                <span>@Label.Paging.OrderBy</span>
                <label class="radio-inline">@Html.RadioButtonFor(model => model.RouteValue.OrderByDesc, false, new { @onclick = "$('#get_cms_news').submit();" })@Label.Paging.OrderByAsc</label>
                <label class="radio-inline">@Html.RadioButtonFor(model => model.RouteValue.OrderByDesc, true, new { @onclick = "$('#get_cms_news').submit();" })@Label.Paging.OrderByDesc</label>
            </div>
            <div class="col-md-4 pull-right">
                @Html.TextBoxFor(model => model.RouteValue.SearchKey, new { @type = "search", @placeholder = "Tìm tin tức", @class = "form-control pull-right" })
            </div>
        </div>
        <p></p>
    }*@

    @if (Model.Items.Count() > 0)
    {
        <div id="cms_news_items">
            @foreach (var item in Model.Items)
            {
                <div class="row">
                    <div class="cms-news-item-header">
                        @Html.ActionLink(item.Title, "CmsNewsDetails", "Cms", new { id = item.ID }, null)
                    </div>
                    <div class="cms-news-info">
                        <span class="cms-news-date">@Html.DisplayFor(modelItem => item.CreatedDate) - @(item.TotalView ?? 0) Lượt xem</span>
                    </div>
                    <div class="cms-news-content">
                        <span>@((item.SubTitle + item.SubTitle + item.SubTitle).ToEllipsis(0, 250, "..."))</span>
                        <span>@Html.ActionLink("Chi tiết", "CmsNewsDetails", "Cms", new { id = item.ID }, null)</span>
                    </div>
                </div>
            }
        </div>
        
        <div class="pull-right">
            @Html.PagingGenerator(PagingGeneratorOption.DefaultOption, CustomHtmlGenerator.DefaultPagingHtml, Model.RouteValue.AddAjaxOptions(new AjaxOptions { UpdateTargetId = "cms_news_container", OnComplete = "$('#cms_news_view').show()" }))
        </div>
    }
</div>
