@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin site</title>
    @Styles.Render("~/Content/cssAdminSite")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="sidebar-mini skin-green">
    <div class="wrapper">

        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg"><b>Admin</b> site</span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/content/dist/img/avatar_160x160.png" class="user-image" alt="User Image" />
                                <span>@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/content/dist/img/avatar_160x160.png" class="img-circle" alt="User Image" />
                                    <p>
                                        @User.Identity.GetUserName()
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li style="display: none">
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel" style="display: none;">
                    <div class="pull-left image">
                        <img src="../content/dist/img/avatar_160x160.png" class="user-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>
                            Smith
                        </p>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">Quản trị</li>

                    <li id="naviProduct"><a href="~/Product"><i class='fa fa-user'></i><span>Danh mục sản phẩm</span></a></li>
                    <li id="naviCategory"><a href="~/Category"><i class='fa fa-user'></i><span>Thể loại sản phẩm</span></a></li>

                    <li id="naviCms"><a href="~/Cms/CmsCategoryIndex"><i class='fa fa-user'></i><span>Danh mục tin tức</span></a></li>

                    <li id="naviUsers"><a href="~/Users"><i class='fa fa-user'></i><span>Người dùng</span></a></li>
                    <li id="naviOrders"><a href="~/Orders"><i class='fa fa-user'></i><span>Đơn hàng</span></a></li>



                    @*<li class="treeview" id="naviUsers">
                            <a href="#"><i class='fa fa-user'></i><span>Users</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li id="naviUsers"><a href="~/Users"><i class="fa fa-circle-o"></i>Users</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i>API logs</a></li>
                            </ul>
                        </li>*@

                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#" target="_blank"></a>.</strong> All rights reserved.
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">
            </div>
        </aside>
        <div class='control-sidebar-bg'></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/others")
    @RenderSection("scripts", required: false)
</body>
</html>
