@model WebApplication.Models.ViewModels.ProductPartialViewModel

<div class="product-image-wrapper">
    <div class="single-products">
        <div class="productinfo text-center">
            <img src="@Model.Image" alt="not image" />
            <h2>@Model.Price Đ</h2>
            <p>@Model.Name</p>
            <p>@Model.Description</p>
        </div>
        <div class="product-overlay">
            <div class="overlay-content">
                <a class="btn btn-info item-details" href="/ProductBoard/ProductDetails?Id=@Model.Id"><i class="fa fa-detail-product"></i>Chi tiết</a>
                <button class="btn btn-default add-to-cart" onclick="ProductBoard.addNewProductToCart(@Model.Id)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
            </div>
        </div>
    </div>
</div>