@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jquery")
@using WebApplication.Models.ViewModels
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.Action("ListCategoriesLeftMenu", "Category")
            </div>
            <div class="col-sm-9">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                        <li data-target="#slider-carousel" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img width="847" src="../../Content/Images/home/promotion1.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img width="847" src="../../Content/Images/home/promotion2.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img width="847" src="../../Content/Images/home/promotion3.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img width="847" src="../../Content/Images/home/promotion4.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-4">
                        <img src="../../Content/Images/home/promotionSmall1.jpg" width="100%" class="img-responsive" alt="" />
                    </div>
                    <div class="col-sm-4">
                        <img src="../../Content/Images/home/promotionSmall2.jpg" width="100%" class="img-responsive" alt="" />
                    </div>
                    <div class="col-sm-4">
                        <img src="../../Content/Images/home/promotionSmall3.jpg" width="100%" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    @*@Html.Partial("_CategoryProducts_LeftSideBar_Partial")*@                    
                    @*@Html.Partial("BrandProducts_LeftSideBar_Partial")*@
                    @Html.Partial("_HotlinePartial")
                    @Html.Partial("Gadget_LeftPartial")
                </div>
            </div>

            <div class="col-sm-9 padding-right" >
                <div id="products">
                    @Html.Action("ListProduct", new PagingRouteValue("ListProduct", "Home"))
                </div>
                @Html.Action("ListBestByProduct", "ProductBoard") ;
            </div>
        </div>
    </div>
</section>
@section styles {
    <style>
        li.paging-active > a {
            background: #FE980F;
            color: white;
        }
    </style>
}
@section scripts {
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}
