@model IEnumerable<WebApplication.Models.ViewModels.ProductPartialViewModel>
@{
    ViewBag.Title = "Shop Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar" style="padding-bottom: 25px;">
                    @Html.Action("ListCategoriesLeftMenuByAjax", "Category")
                    @Html.Partial("_HotlinePartial")
                    @Html.Partial("Gadget_LeftPartial")
                </div>
            </div>
            <div class="col-sm-9 padding-right" >
                <div id="ProductBoard_ShopPage" style="min-height:585px;">
                    @Html.Partial("ListProductPartialView", @Model)
                </div>
                @Html.Action("ListBestByProduct", "ProductBoard")
            </div>
        </div>
    </div>
</section>
