@model IEnumerable<WebApplication.Models.ViewModels.ProductPartialViewModel>
@{
    ViewBag.Title = "Shop Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<!--slider-->
<section id="advertisement">
    <div class="container">
        <img src="../../Content/Images/home/advertisement.jpg" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    @*@Html.Partial("_CategoryProducts_LeftSideBar_Partial")*@
                    @Html.Action("ListCategoriesLeftMenu", "Category")
                    @Html.Partial("BrandProducts_LeftSideBar_Partial")
                    @Html.Partial("PriceRange_LeftSideBar_Partial")
                    @Html.Partial("Shipping_LeftSideBar_Partial")
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                @Html.Action("Index","Shop",Model)

                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>
