@model WebApplication.Models.ViewModels.ProductDetailsPartialViewModels

<div class="product-details">
    <!--product-details-->
    <div class="col-sm-5">
        
        <div class="view-product" id="photo">
            <div class="large" style="background:url('@Model.Image')"></div>
            <img src=@Model.Image alt="" class="small"/>
        </div>
        <div id="similar-product" class="carousel slide" data-ride="carousel">
            <div id="gallery" class="carousel-inner">
                <div class="item active">
                    @{
                        //foreach (var img in Model.share_Images)
                        //{
                        for (int i = 0; i < Model.share_Images.Count(); i++) {
                            if (i > 2) { break; }
                            <a href="@Model.share_Images.ElementAt(i).ImagePath"><img src="@Model.share_Images.ElementAt(i).ImagePath" width="75" height="75" alt="not exist"></a>
                        }
                        //}
                    }
                </div>
            </div>
            <!-- Controls -->
            @*<a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>*@
        </div>

    </div>
    <div class="col-sm-7">
        <div class="product-information">
            <!--/product-information-->
            @if (Model.IsNewProduct)
            {
                <img src="~/Content/Images/product-details/new.jpg" class="newarrival" alt="" />
            }
            <h2>@Model.Name</h2>
            <p>Description: @Model.Description</p>
            <img src="~/Content/Images/product-details/rating.png" alt="" />
            <span>
                <span>@Model.Price Đ</span>
                @if (Model.IsAvailable)
                {
                    <button type="button" class="btn btn-fefault cart" onclick="ProductBoard.addNewProductToCart(@Model.Id)">
                        <i class="fa fa-shopping-cart"></i>
                        Thêm vào giỏ
                    </button>
                }
            </span>
            <p><b>Trạng thái:</b> @Model.Status</p>
            <p><b>Danh mục:</b> @Model.Catalog</p>
        </div><!--/product-information-->
    </div>
</div><!--/product-details-->

<div class="category-tab shop-details-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Thông tin chi tiết sản phẩm</a></li>
            <li><a href="#companyprofile" data-toggle="tab">Bảo hành</a></li>
            <li><a href="#tag" data-toggle="tab">Tag</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="details">
            <div class="col-sm-12 col-md-12">
                <h4>Tính năng sản phẩm</h4>
                @Html.Raw(Model.Description2)
                @*<p>@Model.Description2</p>*@
            </div>
        </div>

        <div class="tab-pane fade" id="companyprofile">
            <div class="col-sm-12 col-md-12">
                <h4>Chính sách bảo hành sản phẩm</h4>
                <p>Sản phẩm không được hỗ trợ bảo hành</p>
            </div>
        </div>

        <div class="tab-pane fade" id="tag">
            <div class="col-sm-12 col-md-12">
                <h2>Tags</h2>
                <p>@Model.Tags</p>
            </div>
        </div>

    </div>
</div><!--/category-tab-->
<script>
    $(document).ready(function () {
        ProductDetailsPartialView.init();
    }); // end ready
</script>