@model IEnumerable<WebApplication.Models.ViewModels.ProductPartialViewModel>
@{
    decimal shipping = 12;
    decimal subtotal = 0;
    decimal total = 0;
    foreach (var product in Model)
    {
        subtotal += product.Price * product.Quantity;
    }
    total = subtotal + shipping;
}

<section id="cart_items" style="width:100%;">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed tableSection" id="arrestedDevelopment">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description">Description</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="@product.Image" height="70" width="70" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@product.Name</a></h4>
                                <p>@product.Description</p>
                            </td>
                            <td class="cart_price">
                                <p>$@product.Price</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <input type="number" class="cart_quantity_input" id="ProductBoard_Quantity" value="@product.Quantity" onchange="ProductBoard.UpdateQuantityProduct(this.value,@product.Id)" size="2">
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">$@(product.Price * product.Quantity)</p>
                            </td>
                            <td class="cart_delete">
                                <button class="cart_quantity_delete" onclick="ProductBoard.removeFromCart(@product.Id)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$@subtotal</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$@shipping</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$@total</strong></h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
@*<script type="text/javascript">
    $(function () {
        $('#arrestedDevelopment').scrollTableBody();
    });
</script>*@


