@model WebApplication.Models.ViewModels.ProductDetailsPartialViewModels
@Scripts.Render("~/bundles/ProductDetails")
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/ProductDetails");
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    @*@Html.Partial("_CategoryProducts_LeftSideBar_Partial")*@
                    @Html.Action("ListCategoriesLeftMenu", "Category")
                    @Html.Partial("Shipping_LeftSideBar_Partial")
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div>
                    @Html.Partial("_ProductDetails_Partial", @Model)
                </div>
                <div>
                    @Html.Action("ListBestByProduct", "ProductBoard") ;
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cart Modal popup -->
<div class="modal fade" id="ProductPartialView_CartModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Giỏ hàng</h4>
            </div>
            <div class="modal-body" style="max-height:500px;overflow:auto;">

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" id="ProductBoard_ContinueShopping">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua sắm
                </button>
                <a href="/CheckOut/OrderProduct" class="btn btn-success">Thanh toán <span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>
</div>
<script>
    ProductBoard.init();
</script>



